/* style.css */

.LandingPage {
    margin: 0px;
    padding: 0px;
    width: auto;
    height: auto;
    position: relative;
    background: linear-gradient(180deg, white 62%, #DCDBDA 100%);
}

.DataAnalyst {
    width: 1622px;
     height: 262px; 
     left: 149px; 
     top: 409px;
     position: absolute; 
     text-align: center; 
     color: black; font-size: 112px; 
     font-family: Neue Haas Grotesk Display Pro; 
     font-weight: 400; 
     text-transform: uppercase; 
     word-wrap: break-word"
}

.ForDataDrivenOrganization{
    width: 1716px; 
    height: 153px; 
    left: 102px; 
    top: 670px; 
    margin: 10px;
    position: absolute; 
    text-align: center; 
    color: black; 
    font-size: 63.54px; 
    font-family: Neue Haas Grotesk Display Pro; 
    font-weight: 300; 
    line-height: 76.25px; 
    word-wrap: break-word"
}
.img{
      width: 61.65px;
      height: 70px;
      left: 977px; 
      top: 677px; 
      position: absolute; 
      translate: none; 
      rotate: none; 
      scale: none; 
      transform: translate(0px, 0px)
}

.ICreateEnterpriseLevelEtlPipelinesAndInteractiveDashboardsThatSimplifyComplexInformationIntoActionableInsights{
    left: 676px; 
    top: 781px; 
    position: absolute; 
    text-align: center; 
    color: black; 
    font-size: 16px; 
    font-family: Neue Haas Grotesk Display Pro; 
    font-weight: 200; 
    text-transform: uppercase; 
    word-wrap: break-word"
}

.heythere{
    width: 400px; 
    height: 29px; 
    left: 1800px; 
    top: 200px; 
    position: absolute; 
    transform: rotate(-90deg); 
    transform-origin: 0 0; 
    background: black";
    font-size: 16px; 
    font-weight: 230; 
    font-family: Neue Haas Grotesk Display Pro;
}
